body {
    margin-top: 0 !important;
    background: none !important;
}

.require-error {
    font-size: 11px;
    color: red;
}

.App-Bar {
    text-align: center;
}

.btn-pad {
    margin-right: 5px !important;
}